<div class="sidebar-wrapper">
  <div class="sidebar">
      <div class="sidebar__logo">
          <h3> Mi perfil </h3>
      </div>
      <ul class="sidebar__nav">
          <li class="active"> <i class="fa fa-home" aria-hidden="true"></i> Inicio </li>
          <li> <i class="fa fa-female" aria-hidden="true"></i> Sobre mi</li>
          <li> <i class="fa fa-camera-retro" aria-hidden="true"></i> Portafolio</li>
          <li> <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Contactame</li>
      </ul>
      <div class="sidebar__profile">
          <img src="assets/img/1.jpg" alt="Profile Photo">
          <h4>Andrea Lopez</h4>
      </div>
  </div>
</div>
