<div class="list-wrapper">
  <ul class="list">

    <!--Flexbox list item-->
    <li class="list-item">
      <div class="list-item__image">
        <img src="assets/img/1.jpg" alt="Thumbnail">
      </div>
      <div class="list-item__content">
        <h4> Linda Hart </h4>
        <p> 6765 Atlacomulco </p>
      </div>
    </li>

    <!--Flexbox list item-->
    <li class="list-item">
      <div class="list-item__image">
        <img src="assets/img/2.jpg" alt="Thumbnail">
      </div>
      <div class="list-item__content">
        <h4> Roger Medina </h4>
        <p> 2420 Toluca </p>
      </div>
    </li>

    <!--Flexbox list item-->
    <li class="list-item">
      <div class="list-item__image">
        <img src="assets/img/3.jpg" alt="Thumbnail">
      </div>
      <div class="list-item__content">
        <h4> Dean Sullivan </h4>
        <p> 6727 Ciudad de Mexico </p>
      </div>
    </li>

    <!--Flexbox list item-->
    <li class="list-item">
      <div class="list-item__image">
        <img src="assets/img/4.jpg" alt="Thumbnail">
      </div>
      <div class="list-item__content">
        <h4> Elizabeth Austin </h4>
        <p> 6685 Acapulco</p>
      </div>
    </li>

  </ul>
</div>
